.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
   img {
     border-radius: 30%;
     width: 370PX;
     height: 420px;
  }
   .Tiramisu{
     width: 370PX;
     height: 420px;
        }
         .Mars{
          width: 370PX;
     height: 420px;
        }